.canvas-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.canvas-wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.canvas-wrapper canvas {
  width: 100%;
  height: 100%;
  display: block;
}
